<div class="article-lower-pane game-payoff-page">

	<md-card class="results-card payoff-card popup-payoff" debounce>

	  <div class="payoff-header">
	    <div class="payoff-header-content">final score: {{gameState.state.totalScore}}</div>
	    <wedge class="flip-x flip-y"></wedge>
	  </div>

	  <md-card-content>
	    
	    <div style="text-align: center; padding: 10px;">
	    	you correctly identified truthiness <span class="emph">{{percentCorrect}}% of the time</span>
	    </div>

		<div layout="row" layout-align="center center"> 
			<div class="f2-button" ng-click="main.startOver()">play again</div>
			<div class="f2-button twitter-button">
				<a target="_blank" href="{{twitterApiURI}}">
					<img src="assets/icons/twitter-button.svg">
				</a>
			</div>
			<div class="f2-button facebook-button">
				<a target="_blank" href="{{facebookApiURI}}">
					<img src="assets/icons/facebook-button.svg">
				</a>
			</div>
		</div>

	  </md-card-content>

	</md-card>

	<confetti-holder class="confetti-fall-1">
		<confetti-item ng-repeat="i in [1,2,3,4,5,6,7,8,9,10, 11,12,13,14,15,16,17,18,19,20]"></confetti-item>
	</confetti-holder>

	<confetti-holder class="confetti-fall-2">
		<confetti-item ng-repeat="i in [1,2,3,4,5,6,7,8,9,10, 11,12,13,14,15,16,17,18,19,20]"></confetti-item>
	</confetti-holder>

	<confetti-holder class="confetti-fall-3">
		<confetti-item ng-repeat="i in [1,2,3,4,5,6,7,8,9,10, 11,12,13,14,15,16,17,18,19,20]"></confetti-item>
	</confetti-holder>

  	<div ng-if="true" class="payoff-banner end-banner slide-down-banner">YOU WIN!!</div>

</div>