<div class="burger-title"><img src="assets/icons/factitiousWordmark.svg"></div>

<div class="action-items" layout="column" layout-align="flex-start center"> 
  <div class="f2-button" ng-click="main.showInstruct(true)">instructions</div>
  <div class="f2-button" ng-if="!main.userIsAnonymous" ng-click="main.saveGame()">save game</div>
  <div class="f2-button" ng-if="!main.userIsAnonymous" ng-click="main.signOut()">sign out</div>
  <div class="f2-button" ng-click="main.startOver()">start over</div>
</div>

<div class="gray-section">
	<h3>about</h3>

	<div ng-include="'assets/aboutContent.html.frag'"></div>

</div>