burger-pane {
	background: #eceded;
	position: absolute;
	top: 0px;
	right: -80%;
	width: 75%;
	height: 100%;
	box-sizing: border-box;
	transition: right 0.5s;
	max-width: 400px;

	display: flex;
	flex-direction: column;

	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

	&.enabled {
		right: 0px;
	}

	.burger-title, .action-items {
		flex: 0 0 auto;
		background: white;
		padding: 10px 15px;
	}

	.action-items {
		padding-top: 0px;
	}
	
	.gray-section {
		overflow-y: auto;
		overflow-x: hidden;

		background: #eceded;
		padding: 10px 15px;

		p {
			font-size: 14px;
		}
	}

}