article-edit-main {
	display: block;
	background: white;

	padding: 10px 20px;

	.ae-container {
		width: 100%;
	}

	textarea {
		width: 80%;
		resize: none;
		margin-left: 10px;
	}

	textarea.body-edit {
		height: 300px;
	}

	textarea.source-edit {
		height: 60px;
	}

	.edit-section {
		flex: 1 1 auto;

		select {
			max-width: 300px;
		}
	}

	.preview-section {
		width: 350px;
		height: 600px;
		display: flex;
		flex-flow: column;
		align-items: center;
		flex: 0 0 auto;

		.header, .footer {
			box-sizing: border-box;
			text-align: center;
			color: white;
			height: 40px;
			background: #2a363a;
			padding-top: 10px;
			width: 100%;
			flex: 0 0 auto;
		}

		img {
			float: right;
			width: 50%;
		}

	}
}

.article-section {
	display: flex;
	flex-flow: column;
	align-items: center;
	flex: 1 1 auto;

	md-card {
		width: 90%;
		max-width: 400px;
		font-size: 0.9em;

		box-sizing: border-box;

		img.pull-right {
			float: right;
			width: 50%;
			margin-left: 0.5em;
		}

		overflow: scroll;

		&.article-card {
			flex: 1 1 auto;

			&.disabled {
				pointer-events: none;
				overflow: hidden;
				border: solid 1px #888;
			}

		}
	}  
}