article-edit-main {
	display: block;
	background: white;

	/* padding: 10px 20px; */

	h1 {
		margin: 5px 0px;
		margin-top: 0px;
		img {
			position: relative;
			top: 9px;
			display: inline;
			height: 42px;
			text-align: bottom;
		}
	}

	.ae-container {
		width: 100%;
	}

	.edit-section {
		flex: 1 1 auto;

		margin-right: 20px;

		font-size: 0.9em;

		.edit-section-content {
			padding: 10px 20px;
		}

		select {
			max-width: 300px;
		}

		.ae-ctl-row {
			display: flex;
			padding: 3px 0px;
		}

		input[type=file]+label, .ae-button {
			cursor: pointer;
			margin-right: 3px;
			padding: 3px 5px;
			border-radius: 5px;
			color: white;
			background: slategray;

			&:hover {
				background: lightgray;
			}

			&.disabled {
				pointer-events: none;
				background: lightgray;
				color: slategray;
			}

			&:focus {
				outline: none;
			}
		}

		.input-file {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;

		}

		md-radio-group {
			margin: 5px 0px;
		}

		.obj-label {
			padding-top: 5px;
			font-weight: bold;
		}
	
		textarea {
			width: 95%;
			resize: none;
			margin-left: 10px;

			&.body-edit {
				height: 140px;
			}

			&.source-edit {
				height: 60px;
			}

			&.source-label-edit {
				height: 1em;
			}

			&.payoff-edit {
				height: 80px;
			}

		}

	}

	.preview-panes {
		padding: 10px 10px;
	}

	.preview-section {
		width: 375px;
		height: 576px;
		display: flex;
		
		flex-flow: column;
		align-items: center;
		flex: 0 0 auto;

		background: url(../assets/images/bg/bg-rep.png);

		.header, .footer {
			box-sizing: border-box;
			text-align: center;
			color: white;
			height: 56px;
			background: #40bcae;
			padding-top: 10px;
			width: 100%;
			flex: 0 0 auto;
		}

		.header {
			box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		}

		.footer {
			background: none;
		}

		img {
			float: right;
			width: 50%;
		}

		&.sim-iPhone5s {
			width: 320px;
			height: 477px;
		}

		&.sim-iPhone6 {
			width: 375px;
			height: 576px;
		}

		&.sim-iPhone6sP {
			width: 414px;
			height: 644px;
		}

		&.sim-iPhone6sPChrome {
			width: 414px;
			height: 676px;
		}

		&.sim-galaxyS7 {
			width: 360px;
			height: 576px;
		}

		&.sim-pixel7 {
			width: 412px;
			height: 620px;
		}

	}
}

.article-section {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;

	padding: 10px 0px;
	overflow: hidden;
	position: relative;

	md-card {
		width: 90%;
		max-width: 400px;

		font-size: 16px;
		font-family: 'Gentium Basic';

		box-sizing: border-box;		

		img.pull-right {
			float: right;
			width: 50%;
			margin-left: 0.5em;
		}

		overflow-y: auto;
		overflow-x: hidden;

		&.article-card {
			flex: 0 1 auto;

			border-radius: 20px;

			&.disabled {
				pointer-events: none;
				overflow: hidden;
				/* border: solid 1px #888; */
			}

		}

	}  
}