instruct-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 20px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgba(0,0,0,0.25);

	md-card {
		max-width: 440px;
	}

	.instruct-header {
		margin-bottom: 10px;
		filter: drop-shadow(0px 1px 3px rgba(0,0,0,0.25));
	}

	.instruct-header-content {
		background: #eb640f;
		color: white;
		font-weight: bold;
		font-size: 24px;
		padding: 5px 15px;
		text-align: center;
		font-family: 'Work Sans';
	}

	.wedge svg {
		display: block;
		width: 100%;
		height: 10px;
		fill: #eb640f;
		transform: scale(-1,-1);
	}

	.real-news {
		background: #6F9803;
		color: white;
		padding: 5px;
		margin: 10px 0px;
	}

	.fake-news {
		background: #E20A3C;
		color: white;
		padding: 5px;
		margin: 10px 0px;
	}

}

real-news-icon, fake-news-icon {
	display: inline-block;
	background: url(../assets/icons/checked-symbol.svg);
	width: 20px;
	height: 20px;
	margin-top: 3px;
	position: relative;
	top: 4px;
}

fake-news-icon {
	background: url(../assets/icons/xButton.svg);
}
