<div>
	<div class="ae-container" layout="row" layout-align="space-between stretch">

		<div class="edit-section">
			<div class="admin-header">
				<h1><img src="assets/icons/factitiousWordmarkAdmin.svg"/> article editor</h1>
				<div class="admin-nav">
					<a ui-sref="manageHome">home</a>
					<a ui-sref="statisticsPage">statistics</a>
					<a ui-sref="gameSettingsEdit">game settings</a>
					<a ui-sref="articleEdit" class="disabled">article editor</a>
					<a ui-sref="manageLogin">sign out</a>
				</div>
			</div>


			<div class="edit-section-content">
				<select ng-model="main.selectedArticleId"
					ng-options="option.article_id as option.label for option in main.articleList"></select>

				<div layout="row" layout-align="space between">
					<div class="ae-ctl-row">
						<div class="ae-button" ng-click="main.saveArticle()" ng-class="{disabled: !main.articleHasChanged}">save changes</div>
						<div class="ae-button" ng-click="main.revertArticle()" ng-class="{disabled: !main.articleHasChanged}">revert</div>
					</div>
					<div class="ae-ctl-row">
						<div class="ae-button" ng-click="main.addArticle()" ng-class="{disabled: main.articleHasChanged}">new</div>
					</div>
				</div>

				<hr></hr>

				<div layout="row" layout-align="space-between center">

				    <div class="ae-select-image ae-ctl-row">
				    	<input class="input-file" name="input-file" id="input-file" type="file" accept="image/*" load-image-file="main.selectImage(fileObject)"/>
				    	<label for="input-file">set image...</label>
				    </div>

					<md-radio-group ng-model="main.article.articleType" layout="row">
						<md-radio-button ng-value="'notNews'">not news</md-radio-button>
						<md-radio-button ng-value="'news'">news</md-radio-button>
					</md-radio-group>
				</div>
				
				<div class="obj-label">Headline</div>
				<textarea class="headline-edit" ng-model="main.article.headline"></textarea>
				<div class="obj-label">Body</div>
				<textarea ng-change="main.onChange()" class="body-edit" ng-model="main.article.body"></textarea>
				<div class="obj-label">"show source" Content</div>
				<textarea class="source-edit" ng-model="main.article.sourceHint"></textarea>
				<div class="obj-label">Payoff "Source: " Link Label</div>
				<textarea class="source-label-edit" ng-model="main.article.payoffSourceLabel"></textarea>
				<div class="obj-label">Payoff "Source: " Link URL</div>
				<textarea xclass="source-edit" ng-model="main.article.payoffSourceUrl"></textarea>
				<div class="obj-label">Payoff Content</div>
				<textarea class="payoff-edit" ng-model="main.article.payoffContent"></textarea>
				<div class="obj-label">Notes</div>
				<textarea class="payoff-edit" ng-model="main.article.notes"></textarea>
			</div>
		</div>

		<div class="preview-panes" layout="column">
			<div layout="row">
				<div class="bigboy edit-preview" ng-class="main.simClass">
					<article-header main="main"></article-header>

					<article-display main="main" class="article-section"></article-display>

					<article-footer></article-footer>
				</div>

				<div class="bigboy  edit-preview" ng-class="main.simClass" style="margin-left: 10px;">
					<article-header main="main"></article-header>

					<div class="article-section">
						<article-payoff main="main"></article-payoff>
					</div>

					<article-footer></article-footer>

				</div>
			</div>
			<div style="width: 600px;">
				<div>Approximate form factor...</div>
				<md-radio-group ng-model="main.simClass" layout="row" layout-wrap>
					<md-radio-button ng-repeat="option in main.simClasses" ng-value="option.simClass">{{option.label}}</md-radio-button>
				</md-radio-group>
			</div>
		</div>

	</div>

	<div ng-if="main.uploading" class="ae-loading">
		<div>Uploading...</div>
		<img src="assets/images/loading.gif"/>
	</div>
</div>