<div class="noselect" layout="horizontal" layout-fill>

  <md-content class="bigboy" ng-class="{'is-mobile-safari': main.isSafari && main.isIphone}">
    <header>
      <md-toolbar layout="row" layout-align="center center">

        <section class="chunk1"><mute-unmute></mute-unmute><div class="score">{{main.totalScore}} Pts</div></section>

        <section class="nav-top-btns" flex layout="row" layout-align="center center">
          <!-- md-button href="#" class="md-fab md-mini" ng-click="main.article.expanded=false">
            <md-icon-->

              <!-- i class="material-icons" ng-click="main.article.expanded=false">sentiment_neutral</i -->
              <md-icon md-svg-src="{{main.mood}}" 
                ng-click="main.article.expanded=false"
                style="background-color: whitesmoke; height: 48px; width:48px;"></md-icon>

            <!-- /md-icon>
          </md-button -->
        </section>

        <round-progress class="chunk2" progress-pips="main.progressPips"></round-progress>

      </md-toolbar>    
    </header>

    <div class="techs mid-section" layout-align="center" ng-class="{'swipe-alert': main.inSwipeLeft || main.inSwipeRight}" track-swipe>
      <md-card ng-if="main.state=='showArticle'" class="article-card" ng-class="{'disabled': main.shouldSwipe}" scrolly>
        <md-card-content>
          <!-- div class="source-area" ng-class="{'expanded': main.article.expanded}">
            Source: {{main.article.source}}<br/>
            Publisher: {{main.article.publisher}}<br/>
          </div -->
          <!-- div>{{main.debugStr}}</div -->
          <h3 class="md-title">{{ main.article.headline }}</h3>
          <div>
            <img class="pull-right" draggable="false" src="assets/images/oldman.png"/>
            <p ng-repeat="pcontent in main.article.bodyLines track by $index">{{ pcontent }}</p>
          </div>
          <div class="source-area" ng-class="{'expanded': main.article.expanded}">
            Source: {{main.article.source}}<br/>
            Publisher: {{main.article.publisher}}<br/>
          </div>
        </md-card-content>
      </md-card>
      
      <md-card ng-if="main.state=='showResult'" class="results-card">
        <md-card-content>
          <h3 class="md-title">Your results!</h3>
            
          <div>
            <img class="pull-right" draggable="false" src="assets/images/oldman.png"/>
            <p>Your chose 'Me', meaning You. You should have chosen 'You', meaning Me!</p>
            <md-button href="#" class="md-raised" ng-click="main.nextQuestion()">Next</md-button>
          </div>
        </md-card-content>
      </md-card>
      
      <div ng-if="main.shouldSwipe && main.inSwipeLeft" class="swipe-left-flag">Fake</div>
      <div ng-if="main.shouldSwipe && main.inSwipeRight" class="swipe-right-flag">Real</div>
    </div>

    <footer>
      <md-toolbar layout="row" layout-align="center center">

        <section flex layout="row" layout-align="center center">
          <md-button href="#" class="md-raised" ng-click="main.swipeLeft()" ng-disabled="main.state!='showArticle'">Fake</md-button>
          <md-button href="#" class="md-raised" ng-click="main.showHint()" ng-disabled="main.state!='showArticle' || main.article.expanded">Hint</md-button>
          <!-- round-progress progress-pips="main.progressPips"></round-progress -->
          <md-button href="#" class="md-raised" ng-click="main.swipeRight()" ng-disabled="main.state!='showArticle'">Real</md-button>
        </section>

      </md-toolbar>    
    </footer>
  
  </md-content>

</div>
