<div class="noselect" layout="horizontal" layout-fill>

  <md-content class="bigboy" ng-class="{'is-mobile-safari': main.isSafari && main.isIphone}">

    <article-header main="main"></article-header>

    <article-display ng-if="main.state=='showArticle'" class="article-section" 
      ng-class="{'swipe-alert': main.inSwipeLeft || main.inSwipeRight}"
      main="main" track-swipe>
    </article-display>

    <div ng-if="main.state=='showResult'" class="article-section">
        <article-payoff main="main"></article-payoff>
    </div>

    <article-footer></article-footer>

  </md-content>

</div>
