<div class="noselect" layout="horizontal" layout-fill>

  <md-content class="bigboy" ng-class="main.getSimClass()">

    <big-header ng-cloak ng-if="main.state=='showLaunch' || main.state=='showGamePayoff'"></big-header>

    <launch-page ng-cloak ng-if="main.state=='showLaunch' && !main.checkingForUser"></launch-page>
    <game-payoff ng-cloak ng-if="main.state=='showGamePayoff'" ></game-payoff>


    <!-- can also be the startup header -->
    <article-header ng-cloak ng-if="main.state!=='showLaunch' && main.state!=='showGamePayoff'" main="main"></article-header>

    <!-- startup screens -->
    <startup-sequence ng-cloak ng-if="main.state==='startupSequence'" main="main" class="article-lower-pane"><div>Startup</div></startup-sequence>

    <!-- actual gameplay -->

    <div ng-cloak ng-if="main.state!=='showLaunch' && main.state!=='showGamePayoff' && main.state!=='startupSequence'" class="article-lower-pane">

      <article-display ng-if="main.state=='showArticle'" class="article-section" 
        ng-class="{'swipe-alert': main.inSwipeLeft || main.inSwipeRight, 'slide-in-article': main.slideInArticle}"
        main="main" track-swipe>
      </article-display>

      <div ng-if="main.state=='showResult'" class="article-section">
          <article-payoff main="main" payoff-type="main.payoffType"></article-payoff>
      </div>

      <div ng-if="main.state=='showRoundResult'" class="article-section">
          <round-payoff main="main" payoff-type="main.payoffType"></round-payoff>
      </div>

      <div ng-if="main.state=='prepareArticle'" class="article-section">
      </div>

      <article-footer></article-footer>

      <div ng-if="main.showRoundBanner" class="round-banner slide-down-banner">round {{main.roundNumber+1}} of {{main.numberOfRounds}}</div>

      <div class="dialog-blocker" ng-if="main.showBurger"></div>

      <burger-pane ng-class="{enabled: main.showBurger}"></burger-pane>

      <instruct-panel ng-if="main.showInstructions"></instruct-panel>

    </div>

  </md-content>

  <div ng-if="main.isPreview" class="preview-block" ng-class="main.getSimClass()">
      <div>Approximate form factor for preview...</div>
      <md-radio-group ng-model="main.simClass" layout="row" layout-wrap>
        <md-radio-button ng-repeat="option in main.simClasses" ng-value="option.simClass">{{option.label}}</md-radio-button>
      </md-radio-group>
  </div>

</div>

  
