    <md-card class="article-card" ng-class="{'disabled': ad.main.shouldSwipe}">
        <md-card-content>
          <h3 class="md-title">{{ ad.main.article.headline }}</h3>
          <div>
            <img class="pull-right" draggable="false" ng-src="{{ad.main.article.photo_url}}"/>
            <div sd-model-to-html="ad.main.article.body"></div>
          </div>

          <div sd-model-to-html="ad.main.article.info.source" class="source-area" ng-class="{'expanded': ad.main.articleExpanded}">
          </div>

          <div layout="row" layout-align="center center">
            <md-button href="#" class="md-raised f2-button" ng-click="ad.main.showHint()" ng-show="!ad.main.articleExpanded">show source</md-button>
          </div>
        </md-card-content>
	</md-card>
