<md-card class="article-card" ng-class="{'disabled': main.shouldSwipe}" debounce>
  <div>
    
    <!-- div class="source-area" ng-if="main.article.sourceHint" sd-model-to-html="main.article.sourceHint" ng-class="{'expanded': main.articleExpanded}">
    </div -->

    <md-card-content>
      <!-- div>{{ad.w}} x {{ad.h}}</div -->
      <!-- div>{{main.debugStr}}</div -->
      <h3 class="md-title" sd-model-to-html="main.article.headline"></h3>
      <div>
        <img class="pull-right" draggable="false" ng-src="{{main.article.photo_url}}"/>
        <div sd-model-to-html="main.article.body"></div>
      </div>

      <!-- div sd-model-to-html="ad.main.article.info.source" class="source-area" ng-class="{'expanded': ad.main.articleExpanded}">
      </div -->

      <div layout="row" layout-align="center center">
        <div class="f2-button ss-button" ng-click="main.showHint()" ng-show="!main.articleExpanded"><div>show source hint</div></div>
      </div>
    </md-card-content>

    <div class="source-area" ng-if="main.article.sourceHint" ng-class="{'expanded': main.articleExpanded}">
      <wedge></wedge>
      <div class="source-area-content" sd-model-to-html="main.article.sourceHint"></div>
    </div>

  </div>
</md-card>

<div ng-if="main.shouldSwipe && main.inSwipeLeft" class="swipe-left-flag"><div>fake</div></div>
<div ng-if="main.shouldSwipe && main.inSwipeRight" class="swipe-right-flag"><div>news</div></div>

