article-footer {
	display: block;
	width: 100%;
	flex: 0 0 auto;

	.flex-bar {
		height: 56px;
		display: flex;
		justify-content: center;
	}

	section {
		margin: 0 30px;
		height: 56px;
	}

	footer {
		max-width: 480px;
		margin: auto;
		.fake-button, .news-button {
			height: 46px;
			width: 46px;
			cursor: pointer;

			margin: 0px 20px;

			&.disabled {
				pointer-events: none;
				opacity: 0.5;
			}

			&:focus {
				outline: none;
			}
		}

		.fake-button {
			background: url(../assets/icons/xButton.svg);
		}
		.news-button {
			background: url(../assets/icons/checkButton.svg);
		}

		.scoring-loaf {
			text-align: center;
			background: #105d54;
			padding: 5px;
			padding-top: 2px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			width: 70px;
			align-self: flex-end;

			color: white;
			
			.sl-score {
				font-size: 24px;
				font-weight: bold;

			}
			.sl-info {
				font-size: 12px;
				font-weight: bold;
			}
		}
	}
}


article-header {
	display: block;
	flex: 0 0 auto;
	z-index: 1;
	
	header {
		height: 56px;

		.nav-top-btns {
			flex: 1 0 auto;	
		}

		.chunk1, .chunk2 {
			/* width: 150px; */
			padding: 5px 10px;
			display: flex;
			align-content: center;
		}

		.chunk2 {
			text-align: right;
		}

		/*
		.chunk1 {
			display: flex;
			justify-content: flex-end;
			align-content: center;
			-webkit-justify-content: flex-end;
			-webkit-align-content: center;
			.score {
				padding-left: 5px

			}
		}

		.chunk2 {
			justify-content: flex-start;
			-webkit-justify-content: flex-start;
		}
		*/
	}

	header {
		box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	}

	.flex-bar {
		flex: 0 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		-webkit-justify-content: space-between;
		-webkit-align-items: center;
		background-color: #40bcae;
		height: 56px;
		color: white;

	}

}


