<header>

  <section ng-if="main.state!=='startupSequence'" class="flex-bar">

    <div class="chunk1">
      <mute-unmute></mute-unmute>
    </div>

    <round-progress cur-progress="main.curProgress"></round-progress>

    <section class="chunk1">
    	<i ng-if="!main.showBurger" ng-click="main.toggleBurger()" class="material-icons">menu</i>
    	<i ng-if="main.showBurger" ng-click="main.toggleBurger()" class="material-icons">close</i>
    </section>

  </section>    
  
  <section ng-if="main.state==='startupSequence'" class="flex-bar startup-bar">

    <div class="startup-banner"><img src="assets/icons/factitiousWordmark.svg"></div>

  </section>

</header>
