round-progress {
	display: block;
	width: 100%;

	.progress-holder {
		display: flex;
		flex-direction: row;
    	justify-content: center;
    }
	
	.progress-pip {
		border: 2px solid #40bcae;
		width: 14px;
		height: 14px;
		border-radius: 7px;
		margin: 0px 0px;
		box-sizing: border-box;
		background-color: #9eddd6;

		&.current {
			border-color: #9eddd6;
			background-color: #40bcae;
		}

		&.correct {
			background-color: white;
			&.current {
				border-color: white;
			}
		}
		&.incorrect {
			background-color: #219083;
			&.current {
				border-color: #219083;
			}
		}

	}

}

.round-payoff round-progress {
	.progress-holder {
		margin: 15px;
	}

	.progress-pip {
		width: 18px;
		height: 18px;
		border-radius: 9px;
		margin: 0px 2px;
		border-color: #219083;

		&.current.correct {
			border-color: #219083;
		}
	}


}