<md-card class="results-card round-payoff popup-payoff" debounce>

  <div class="round-payoff-header">
    <div class="round-payoff-header-content">round {{gameState.roundNumber+1}} complete!</div>
    <div class="wedge">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        preserveAspectRatio="none" viewBox="0 0 1000 1000">
        <polygon points="0,0 1000,1000, 0,1000, 0,0"></polygon>
      </svg>
    </div>
  </div>

  <md-card-content>
      
    <round-progress></round-progress>

    <div>
      <div>you correctly identified truthiness <span style="color: #40bcae; font-weight: bold;">{{percentCorrect}}% of the time</span>.</div>

      <div layout="row" layout-align="center center"> 
        <md-button class="md-raised f2-button md-no-ink" ng-click="main.nextRound()">continue</md-button>
      </div>
    </div>
  </md-card-content>

</md-card>
