<md-card class="results-card round-payoff popup-payoff" debounce>

  <div class="round-payoff-header">
    <div class="round-payoff-header-content">round {{gameState.state.roundNumber+1}} complete!</div>
    <wedge class="flip-x flip-y"></wedge>
  </div>

  <md-card-content>
      
    <round-progress></round-progress>

    <div>
      <div>you correctly identified real news <span style="color: #219083; font-weight: bold;">{{percentCorrect}}% of the time</span>.</div>

      <div layout="row" layout-align="center center"> 
        <div class="f2-button" ng-click="main.nextRound()">continue</div>
      </div>
    </div>
  </md-card-content>

</md-card>
