statistics-page {
	width: 100%;
	display: block;
	font-size: 0.9em;

	.stats-content {
		padding: 10px 20px;
	}

	input[type=date] {
		margin: 0px 10px;
	}

	table {
		margin: 10px 0px;
		border-collapse: collapse;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.5);

		td, th {
			text-align: right;
			width: 80px;
			padding: 0px 5px;
		}

		th {
			color: white;
		}

		.outcome-col {
			text-align: left;
		}

		.id-col {
			text-align: left;
			width: 60px;
		}
		.hdline-col {
			text-align: left;
			width: 400px;
		}

		thead {
			display: block;
			tr {
				background: #444;
			}

			.g1-row th {
				text-align: center;
				padding-left: 60px;
			}
		}

		tbody {
			display: block;
			max-height: 350px;
			overflow: scroll;

			tr:nth-child(odd) {
				background: #eee;
			}
		}
	}

	.stat-header {
		display: flex;
		align-items: center;
		margin: 15px 0px 5px 0px;
		padding: 10px 0px 5px 0px;
		border-top: 1px solid #DDD;
		h2 {
			padding: 0;
			margin: 0;
		}
		.admin-button {
			margin: 0px 10px;
		}

		&.first-stat {
			margin-top: 0px;
		}
	}

	.download-section {
		.admin-button {
			width: 250px;
			text-align: center;
			margin: 5px 10px;
		}
		.download-row {
			display: flex;
			align-items: center;
		}
	}

}