.payoff-header {

	filter: drop-shadow(0px 1px 3px rgba(0,0,0,0.25));

	.payoff-header-content {
		color: white;
		font-weight: bold;
		font-size: 24px;
		background: #eb640f;
		padding: 5px 15px;
		text-align: center;

		font-family: 'Work Sans';
	}
	wedge {
		svg {
			fill: #eb640f;
		}
	}

}

&.results-card {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	md-card-content {
		padding-top: 0px;
	}
}

@keyframes popupPayoff {
	from { transform: scale(0.5); }
	to   { transform: scale(1.0); }
}

.article-section .payoff-holder md-card {
	width: 100%;
	overflow: visible;
}

.payoff-holder {
	width: 90%;
	display: flex;
	justify-content: center;

	md-card-content {
		overflow-x: hidden;
		overflow-y: auto;
	}
}
.popup-payoff {
	pointer-events: none;			// to handle stupid weird iOS highlighting problem
	animation-name: popupPayoff;
	animation-duration: 0.25s;
	animation-delay: 0s;            
}

@keyframes popupPayoffShake {
	0% { transform: translateX(0px); }
	25% { transform: translateX(-10px); }
	50% { transform: translateX(0px); }
	75%   { transform: translateX(10px); }
	100% { transform: translateX(0px); }
}

.popup-payoff-incorrect {
	animation-name: popupPayoffShake;
	animation-duration: 0.125s;
	animation-delay: 0.25s;            
	animation-iteration-count: 4;
	animation-timing-function: ease-in-out;
}

@keyframes popupPayoffNod {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-5deg); }
	50% { transform: rotate(0deg); }
	75%   { transform: rotate(5deg); }
	100% { transform: rotate(0deg); }
}

@keyframes popupPayoffPulse {
	0% { transform: scale(1.0); }
	30% { transform: scale(1.2); }
	100% { transform: scale(1.0); }
}

.popup-payoff-correct {
	animation-name: popupPayoffPulse;
	animation-duration: 0.5s;
	animation-delay: 0.25s;
	animation-timing-function: ease-in-out;
}